/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.main-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main-container h1 {
  font-size: 4rem;
  text-align: center;
  padding: 1.2vh rem 0;
}
.main-container h2 {
  font-size: 2rem;
  padding: 0 0 2vh 0;
}
.main-container h3 {
  font-size: 1.5rem;
  padding: 1.2vh 0;
}
.main-container nav {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
}
.main-container section {
  padding: 1vh;
  border-bottom: 0.5vh solid black;
}
.main-container footer {
  padding: 3vh;
}
.main-container footer p {
  text-align: center;
}
.main-container .intro img {
  display: block;
  resize: both;
  max-width: 25%;
  margin: 0 auto;
}
.main-container .intro p {
  padding: 1vw;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.main-container .skills ul {
  list-style-type: disc;
  padding-left: 1.3vw;
}
.main-container .skills h3 {
  text-decoration: underline;
}
.main-container .skills p {
  padding: 1vw;
  text-align: left;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.main-container .work-history table {
  text-align: center;
}
.main-container .work-history table td {
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}
.main-container .work-history table .odd {
  background: lightgray;
}
.main-container .portfolio-link {
  text-align: center;
}
.main-container .portfolio-link button {
  width: 33%;
  height: 2vh;
  padding: auto;
  margin: 15px auto;
  background-color: white;
  color: black;
  transition: 1s;
  border-radius: 3%;
}
.main-container .portfolio-link button:hover {
  background-color: black;
  color: white;
  transform: scale(1.3);
}
